:root {
    --background: #2e3440;
    --foreground: #d8dee9;
}

@font-face {
    font-family: iosevka;
    src: url(iosevka_bold.ttf);
    font-weight: bold;
}


@font-face {
    font-family: iosevka;
    src: url(iosevka_normal.ttf);
    font-weight: normal;
}

body {
    background-color: var(--background);
    margin: 0;
    padding: 0;
    color: var(--foreground);
    font-family: 'iosevka'
}

.back {
    font-size: 2rem;
    margin-left: -3rem;
    text-decoration: none;
    line-height: 5rem;
}

.about {
    font-size: 1.4rem;
}
.feather {
    color: var(--foreground);
    float: left;
    margin: 1rem;
}
.content {
    height: 100vh;
    display: grid;
    place-items: center;
}


.box > h1 {
    font-size: 8rem;
    border-radius: 0px 0px 5px 5px;
}

.icons {
    margin-top: -6rem;
    display: flex;
    justify-content: center;
}
.icons > a {
    text-align: center;
    text-decoration: none;
    font-size: 4rem;
}
a {
    color: var(--foreground);
    display: block;
    letter-spacing: 2px;
    transition: 0.9s;
}

.links > a:hover { 
    text-decoration: underline;
}


.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 500,
    'GRAD' 200,
    'opsz' 40
}

.box {
    max-width: 500px;
}


